{% extends 'layout/base.html' %}

{% block title %} Trang chu {% endblock %}


{% block content %}

<h1> Hi: {{current_user.username}}</h1>

<h1> Welcome to chatroom: {{room}}</h1>


{%for i in range(n)%}
<div> <b>{{user_send[i]}}</b>: {{message[i + 1].content}} </div>

{%endfor%}

<div id="messages"></div>

<form id="message_input_form">
    <input type="text" id="message_input" placeholder="Enter message here" />
    <button type="submit" name="message">Send</button>


</form>


{% endblock %}

{%block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script>
        const socket = io.connect("http://127.0.0.1:5000");

        socket.on('connect', function () {
            socket.emit('join_room', {
                username: "{{ user_name }}",
                room: "{{ room }}",
                room_id: {{room_id}}
            })

            let message_input = document.getElementById('message_input')
            document.getElementById('message_input_form').onsubmit = function(e) {
                e.preventDefault();
                let message = message_input.value.trim();
                if (message.length) {
                    socket.emit('send_message', {
                        username: "{{ user_name }}",
                        room: "{{ room }}",
                        message: message,
                        })
                }
                message_input.value = '';
                message_input.focus();

                console.log("đs")
                socket.emit('save_message', {
                    message: message,
                    room: {{room_id}}
                    }
                )
            }

        });

        socket.on('receive_message', function (data) {
            console.log(data);
            const newNode = document.createElement('div');
            newNode.innerHTML = `<b>${data.username}:&nbsp;</b> ${data.message}`;
            document.getElementById('messages').appendChild(newNode);

            let all_message = document.getElementById('messages')
            console.log(all_message)

        });

        socket.on('join_room_announcement', function (data) {
            console.log(data);
            const newNode = document.createElement('div')
            newNode.innerHTML = data['username'] + ' has join the room'
            document.getElementById('messages').appendChild(newNode);
        });


</script>
{%endblock%}


